/*
-------------------------------------------------------------------
---  FORMATTING
-------------------------------------------------------------------
*/

@font-face {
    font-family: 'didot';
    src: url(/\ assets/fonts/didot-regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'didot';
    src: url(/\ assets/fonts/didot-bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'didot-italic';
    src: url(/\ assets/fonts/didot-italic.ttf);
    font-weight: 500;
}




/*
-------------------------------------------------------------------
---  PRIMARY BUTTONS
-------------------------------------------------------------------
*/

.primary-button {
    font-size: 0.675rem;
    font-family: Montserrat;
    text-decoration: none;
    color: white;
    transition: background-color 0.4s ease;
    letter-spacing: 2px;
    border: none;
    width: fit-content;

    cursor: pointer;

    &.small {
        padding: 0.6rem 2rem;
    }

    &.large {
        padding: 1rem 3.5rem;
    }

    &.light {
        background-color: black;
        color: white;

        &:hover {
            background-color: rgb(240, 240, 240);
            color: black;
        }
    }

    &.dark {
        background-color: white;
        color: black;

        &:hover {
            background-color: rgb(29, 29, 29);
            color: rgb(255, 255, 255);
        }
    }
}

.text-button {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 0.8rem;
    color: black;
    text-decoration: underline;
    letter-spacing: 7px;
    cursor: pointer;

    &:hover {
        color: rgb(107, 107, 107);
    }
}