.primary-button {
    background-color: black;
    font-size: 0.85rem;
    font-family: Montserrat;
    text-decoration: none;
    color: white;
    transition: background-color 0.55s ease;
    border: none;
    width: fit-content;

    cursor: pointer;

    &.small {
        padding: 0.6rem 2rem;
    }

    &.large {
        padding: 1rem 3.5rem;
    }

    &:hover {
        background-color: rgb(240, 240, 240);
        color: black;
    }
}

.text-button {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 0.8rem;
    color: black;
    text-decoration: underline;
    letter-spacing: 7px;
    cursor: pointer;

    &:hover {
        color: rgb(107, 107, 107);
    }
}