@font-face {
  font-family: 'didot';
  src: url(/\ assets/fonts/didot-regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'didot';
  src: url(/\ assets/fonts/didot-bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'didot-italic';
  src: url(/\ assets/fonts/didot-italic.ttf);
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: regular;
}

.main-page {
  position: relative;
  height: 120vh;
  width: 100%;
  background-color: rgb(233, 233, 233);
  overflow-x: hidden;

  .text-wrapper {
    position: absolute;
    display: inline-flex;
    top: 40%;
    height: fit-content;
    width: inherit;
    white-space: nowrap;

    .moving-text {
      font-size: 12rem;
      color: white;
      display: inline-block;
      text-wrap: nowrap;
      animation: marquee 30s linear infinite;
      white-space: pre;
    }

    .moving-text2 {
      font-size: 12rem;
      color: white;
      display: inline-block;
      text-wrap: nowrap;
      animation: marquee 30s linear infinite;
      white-space: pre;
    }
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: rgb(232, 224, 211);
}

@keyframes marquee {
  from {
    transform: translateX(0) translateZ(0);
  }

  to {
    transform: translateX(-100%) translateZ(0);
  }
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;

  .sub-header {
    font-family: Montserrat;
    font-style: regular;
    color: black;
    letter-spacing: 3px;
    font-size: 0.8rem;
  }

  .header {
    font-family: Abhaya Libre, serif;
    font-size: 3rem;
    max-width: 38rem;
    text-align: center;
  }

  .description {
    font-family: Montserrat;
    font-style: regular;
    color: black;
    font-size: 1.1rem;
    max-width: 52%;
    text-align: center;
    margin-top: 2rem;
  }
}

.about-me {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 100%;
}








.grow {
  transform: scale(1.25) !important;
}

.animate-grow {
  transition: all 1s;
}


.journal-section {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 10rem 0 0 0;
  width: 100%;

  .test-wrapper {
    position: relative;
    width: 100%;
    margin-top: 12rem;
    overflow: hidden;
    height: 56vw;

    .journal-carousel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      gap: calc(16% / 2);
      height: 100%;

      &::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
      }

      .carousel-image {
        position: relative;
        width: 28%;
        aspect-ratio: 1/1.5;
        flex-shrink: 0;

        .image {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      .focused {
        background: rgb(255, 232, 236);
        width: calc(39.9% - 2rem);
      }
    }

    .test-scroll {
      transition: left 1s;
      color: red;
    }
  }

  .journal-button {
    color: white;
    margin-top: 6rem;
    margin-bottom: 6rem;
    align-self: center;
  }
}

.main-testimony-wrapper {
  display: flex;
  position: relative;
  margin: 5rem 5rem;
  gap: 5rem;

  .testimony {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    .client-name {
      font-family: Montserrat;
      color: black;
      letter-spacing: 3px;
      font-size: 0.8rem;
    }

    .quote-italic {
      font-family: didot-italic;
      font-style: regular;
      color: black;
      letter-spacing: 3px;
      font-size: 1.8rem;
    }

    .quote-regular {
      font-family: Montserrat;
      font-style: regular;
      color: black;
      letter-spacing: 3px;
      font-size: 1rem;
    }

    .button {
      align-self: flex-end;
      margin-top: 2rem;
    }
  }

  img {
    width: 30%;
    flex-shrink: 0;
  }
}

.vendor-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 6rem;

  .vendor-label {
    font-family: Montserrat;
    font-style: regular;
    letter-spacing: 3px;
    font-size: 0.9rem;
  }

  .vendor-images {
    display: flex;
    gap: 6rem;

    .vendor {
      height: 3.5rem;
      object-fit: cover;
    }
  }
}


.asthetic-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  position: relative;
  padding: 5rem 0;
  margin: 15rem 0;

  .relative-image {
    position: relative;
    align-self: center;
    height: 90vh;
    width: fit-content;
    z-index: 1;
    margin-right: 5rem;
  }

  .absolute-image-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 70vh;
  }

  .absolute-image-2 {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateY(-50%);
    height: 75vh;
  }

  .absolute-image-3 {
    position: absolute;
    bottom: 10rem;
    right: 65%;
    height: 80vh;
  }

  .asthetic-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin-left: 40%;

    .sub-header {
      font-family: Montserrat;
      font-style: regular;
      color: black;
      letter-spacing: 3px;
      font-size: 0.8rem;
    }

    .header {
      font-family: didot;
      font-size: 3rem;
    }

    .paragraph {
      font-family: Montserrat;
      color: black;
      font-size: 1.3rem;
      line-height: 2.25rem;
      margin-top: 2rem;
    }
  }
}



.booking-now {
  font-family: didot;
  font-size: 15rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}





.testimonies-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 8rem 0;
  background-color: black;

  .testimonies-wrapper {
    width: 100%;
    height: 52vh;
    max-width: 85vw;
    background-color: #F1F0F0;
    border-radius: 15px;
    display: flex;
    padding: 1.25rem;
    gap: 1.5rem;

    .timer {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-family: Abhaya Libre, serif;
      font-size: 0.65rem;
      width: 2rem;
      flex-shrink: 0;

      .progress-bar-wrapper {
        position: relative;
        height: 30%;
        width: 1px;
        background-color: rgb(212, 212, 212);

        .progress-bar {
          position: absolute;
          top: 0;
          left: 0;
          width: 1px;
          background-color: black;
          animation: loading 15s linear infinite;
        }
      }
    }

    // .testimony-container {
    //   position: relative;
    //   height: 100%;
    //   flex-grow: 1;
    //   padding: 2rem 0;
    //   overflow: hidden;

    //   .testimony-wrapper {
    //     position: absolute;
    //     display: flex;
    //     flex-direction: column;
    //     padding: 2rem 0;
    //     height: 100%;
    //     top: 0;
    //     width: 100%;

    //     .testimony-title {
    //       font-family: Abhaya Libre, serif;
    //       font-size: 2.5rem;
    //     }

    //     .testimony-date {
    //       font-family: Montserrat;
    //       font-style: regular;
    //       color: black;
    //       letter-spacing: 3px;
    //       font-size: 0.8rem;
    //     }

    //     .testimony {
    //       margin-top: 1.5rem;
    //       font-family: Montserrat;
    //       font-style: regular;
    //       color: black;
    //       font-size: 1.25rem;
    //       line-height: 2.5rem;
    //     }
    //   }

    //   .animate-scroll {
    //     transition: top 1s ease-in-out;
    //   }
    // }

    .image {
      height: 100%;
      aspect-ratio: 1;
      background-color: rgb(227, 227, 227);
      border-radius: 8px;
    }
  }
}

.contact-section {
  display: flex;
  margin: 5rem 0;
  height: 60vh;
  width: 100%;

  .header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 1rem;
    width: 50%;

    .sub-header {
      font-family: Montserrat;
      font-style: regular;
      color: black;
      letter-spacing: 3px;
      font-size: 0.8rem;
    }

    .header {
      font-family: didot;
      font-size: 6rem;
      text-align: center;
    }
  }

  .contact-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    flex-shrink: 0;
    flex-grow: 1;
    padding: 6rem;
    width: calc(50% - 12rem);

    .contact-info-section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .contact-link {
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}

.about-page {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgb(104, 104, 104);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 20%;
  }

  .text-wrapper {
    position: absolute;
    left: 5rem;
    top: 50%;
    transform: translateY(-50%);

    .header {
      font-family: didot;
      font-size: 4rem;
    }

    .sub-header {
      font-family: Montserrat;
      color: black;
      letter-spacing: 6px;
      font-size: 1rem;
    }

    .description {
      margin-top: 2.5rem;
      font-family: Montserrat;
      font-style: regular;
      color: black;
      font-size: 1rem;
      max-width: 35%;
      line-height: 2rem;
    }
  }
}

.client-quote {
  position: relative;
  width: 100%;
  margin: 10rem 0 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  .quote {
    font-family: 'cormorant garamond';
    font-style: regular;
    color: black;
    font-size: 3rem;
    max-width: 60%;
    line-height: 4rem;
    text-align: center;
  }

  .emphasize {
    font-family: didot-italic;
    font-size: 2.8rem;
  }

  .client {
    font-family: Montserrat;
    font-style: regular;
    color: black;
    letter-spacing: 4px;
    font-size: 0.8rem;
  }
}

.about-maddie {
  position: relative;
  background-color: #F1F0F0;
  height: 125vh;
  padding: 7rem 8.5rem;

  .image {
    position: absolute;
    top: -8rem;
    left: 50%;
    transform: translateX(-50%);
    height: 50rem;
    width: 30rem;
    background-color: rgb(255, 224, 229);
    z-index: 1;
  }

  .about-text-block-1 {
    position: relative;
    display: block;
    font-family: 'cormorant garamond';
    font-size: 2.3rem;
    max-width: 43%;
    z-index: 5;
    line-height: 3.5rem;
  }

  .about-text-block-2 {
    position: absolute;
    display: block;
    font-family: Montserrat;
    font-size: 1.25rem;
    max-width: 40%;
    line-height: 2.5rem;
    bottom: 15rem;
    right: 4rem;
  }
}

.more-section {
  position: relative;
  background-color: black;
  display: flex;
  padding-bottom: 6rem;

  .image {
    position: relative;
    width: 50%;
    height: 110vh;
    background-color: rgb(233, 228, 207);
    margin-top: -8rem;
    flex-shrink: 0;
  }

  .more-text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 4.5rem 4.5rem;
    gap: 2rem;

    .header {
      font-family: didot;
      font-size: 3.25rem;
      color: white;
      width: 36rem;
    }

    .sub-header {
      font-family: Montserrat;
      font-style: regular;
      color: black;
      letter-spacing: 4px;
      font-size: 1rem;
      color: white;
    }

    .description {
      font-family: Montserrat;
      font-style: regular;
      color: black;
      font-size: 1.25rem;
      line-height: 3.25rem;
      color: white;
      width: 35rem;
    }
  }
}


/*
-------------------------------------------------------------------
---  PACKAGES PAGE
-------------------------------------------------------------------
*/

.packages-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.75rem;
  margin: 10rem 0 18rem;

  .sub-header {
    font-family: Montserrat;
    font-style: regular;
    color: black;
    letter-spacing: 3px;
    font-size: 1rem;
  }

  .header {
    font-family: Abhaya Libre, serif;
    font-size: 4rem;
    max-width: 70rem;
    text-align: center;
  }
}

.package-wrapper {
  display: flex;
  margin-bottom: 20rem;

  .package-image {
    width: 50%;

    img {
      height: 100vh;
      width: 80%;
      object-fit: cover;
      float: right;
    }
  }

  .package-info-wrapper {
    display: flex;
    width: 50%;

    .package-info {
      display: flex;
      flex-direction: column;
      width: 80%;

      .package-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        font-size: 1.5rem;
        font-family: Montserrat;
        letter-spacing: 3px;
        padding: 2rem 2rem 1rem 3rem;
        color: #868686;
      }

      .description {
        font-size: 1.5rem;
        line-height: 2.75rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        padding: 1rem 2rem 3rem 3rem;
      }

      .includes-text {
        font-size: 1.35rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 3px;
        text-decoration: underline;
        padding: 1rem 2rem 1.5rem 3rem;
      }

      ul {
        padding: 0rem 2rem 3rem 4.5rem;
        list-style: none;

        li {
          padding-bottom: 1.5rem;
          font-size: 1.35rem;
          font-family: 'Montserrat', sans-serif;
          font-weight: 300;

          &::before {
            content: "\2022";
            color: black;
            font-size: 24px;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
          }
        }
      }

      button {
        margin-left: 3rem;
      }
    }
  }
}



/*
-------------------------------------------------------------------
---  TESTIMONY PAGE
-------------------------------------------------------------------
*/

.testimonies-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .image-wrapper {
    position: relative;
    height: 65vh;
    width: 80%;
    background-color: rgb(218, 218, 218);

    .focused-image {
      width: 100%;
      height: 100%;
      object-fit: none;
    }

    .header {
      font-family: Abhaya Libre, serif;
      font-size: 6rem;
      max-width: 70rem;
      text-align: center;
    }

    .top-left {
      position: absolute;
      top: -3rem;
      left: -5rem
    }

    .bottom-right {
      position: absolute;
      bottom: -3.5rem;
      right: -5rem;
    }
  }
}

.testimony {
  .testimony-wrapper {
    display: flex;
    height: 120vh;
    width: 100%;

    .client-images {
      position: relative;
      width: 55%;
      height: 100%;
      flex-shrink: 0;

      .testimony-img-1 {
        position: absolute;
        right: 10%;
        top: 10%;
        object-fit: cover;
        height: 80vh;
      }

      .testimony-img-2 {
        object-fit: cover;
        position: absolute;
        left: 20%;
        bottom: 5%;
        height: 60vh;
        width: 30rem;
      }
    }

    .client-testimony-wrapper {
      display: flex;
      height: 100%;
      width: 45%;
      align-items: center;

      .client-testimony {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        z-index: 5;
        width: 80%;

        .client-text {
          font-family: Montserrat;
          font-style: regular;
          color: black;
          letter-spacing: 3px;
          font-size: 1rem;
          z-index: 5;
        }

        .testimony {
          font-size: 1.8rem;
          font-family: Abhaya Libre;
          line-height: 3rem;
          padding-left: 3rem;
          z-index: 5;
        }

        .client-name {
          font-family: Montserrat;
          font-style: regular;
          color: black;
          letter-spacing: 2px;
          font-size: 1rem;
          z-index: 5;
          padding-left: 1rem;
        }

        .quote-accent {
          position: absolute;
          height: 15rem;
          width: 15rem;
          color: #FCF8EE;
        }

        .top {
          top: 0rem;
          left: 0rem;
          transform: rotate(180deg);
        }

        .bottom {
          bottom: 0rem;
          right: 6.5rem;
        }
      }
    }
  }
}


/*
-------------------------------------------------------------------
---  CONTACT PAGE
-------------------------------------------------------------------
*/

.contact-header {
  position: relative;
  height: 120vh;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .maddie-west-accent {
    position: absolute;
    transform: rotate(270deg) translateX(50%);
    left: -9.5rem;
    bottom: 3rem;
  }

  .contact-header-text {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 75rem;
    text-align: center;
    transform: translateX(-50%);
    font-size: 7rem;
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 200;

    .emphasized {
      font-family: 'didot', sans-serif;
    }
  }
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10rem 0;
  height: fit-content;

  .contact-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: 50rem;

    p {
      text-align: center;
      font-size: 1.25rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      letter-spacing: 3px;
      line-height: 1.7rem;
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 4rem;
      align-items: center;

      .input-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        .input-label {
          font-family: 'Montserrat', sans-serif;
          font-weight: 300;
          font-size: 0.9rem;

          span {
            color: red;
          }
        }

        input {
          border: none;
          border-bottom: 1px solid black;
          padding: 0.75rem 1rem;
          font-size: 1.15rem;
          text-transform: uppercase;
          letter-spacing: 2px;

          &:focus {
            outline: none
          }

          &::placeholder {
            color: #e7e7e7;
            font-weight: 300;
          }
        }

        textarea {
          resize: none;
          border: none;
          border-bottom: 1px solid black;
          padding: 0.75rem 1rem;
          font-size: 1.15rem;
          text-transform: uppercase;
          letter-spacing: 1px;
          height: 12rem;

          &:focus {
            outline: none
          }

          &::placeholder {
            color: #e7e7e7;
            font-weight: 300;
          }
        }
      }
    }
  }
}

/*
-------------------------------------------------------------------
---  JOURNAL PAGE
-------------------------------------------------------------------
*/

.journal-header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  overflow-x: hidden;

  span {
    font-family: 'didot', 'sans-serif';
    font-size: 12rem;
    color: white;

    &:first-child {
      padding-left: 6rem;
    }

    &:last-child {
      padding-left: 12rem;
    }
  }

  .journal-image {
    position: absolute;
    height: 25rem;
    aspect-ratio: 1/1.5;
    z-index: 0;

    &.image-1 {
      transform: scale(1) rotate(3deg);
      right: 40%;
      top: 10%
    }

    &.image-2 {
      transform: scale(0.85) rotate(6deg);
      right: calc(40% - 18rem);
      top: calc(10% + 3.5rem);
    }

    &.image-3 {
      transform: scale(0.7) rotate(10deg);
      right: calc(40% - 33rem);
      top: calc(10% + 7.5rem);
    }

    &.image-4 {
      transform: scale(0.65) rotate(15deg);
      right: calc(40% - 46.5rem);
      top: calc(10% + 11rem);
    }

    &.image-5 {
      transform: scale(0.5) rotate(21deg);
      right: calc(40% - 58rem);
      top: calc(10% + 16.5rem);
    }
  }

  .scroll-accent {
    border-radius: 20rem;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 4rem;
    width: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%
  }
}

.journal-entry-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 10rem 0;

  .journal-entry-wrapper {
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    color: white;

    .couple-name {
      font-family: 'didot', 'sans-serif';
      font-size: 2.5rem;
      font-weight: 400;
    }

    .wedding-description {
      font-family: 'Abhaya Libre', 'sans-serif';
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.75rem;

      .first-letter {
        height: 5rem;
        float: left;
        font-family: 'Abhaya Libre', 'sans-serif';
        font-weight: 400;
        font-size: 6.6rem;
        line-height: 5.9rem;
        margin-right: 0.5rem;
      }
    }

    .images {
      display: flex;
      gap: 4.5rem;

      img {
        width: calc(33% - 3rem);
        aspect-ratio: 1/1.5;
      }
    }
  }
}





@keyframes loading {
  0% {
    height: 0;
  }

  94% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}