.about_route {
  .about-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    width: 100%;
    background-color: #eaeaea;
    overflow: hidden;
    margin-top: 65px;

    #about-video {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;

      video {
        height: 100%;
        min-width: 100%;
        width: fit-content;
        object-fit: cover;
      }
    }

    .accent {
      position: absolute;
      bottom: 0.5rem;
      left: 1rem;
      max-width: 55%;
      font-size: 0.65rem;
      letter-spacing: 2px;
      color: white;
    }
  }

  .about-client-quote {
    position: relative;
    width: 100%;
    margin: 10rem 0 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .about-quote {
      font-size: 2.5rem;
      color: rgb(56, 56, 56);
      line-height: 3.5rem;
      font-family: didot-italic;
      text-align: center;
      width: 40rem;
    }

    h6 {
      font-size: 0.6rem;
      font-weight: 500;
      letter-spacing: 2px;
    }
  }

  .about-maddie {
    position: relative;
    background-color: #F1F0F0;
    padding: 5rem 0 0;
    width: 100%;

    .image {
      position: absolute;
      top: -11rem;
      left: 39%;
      height: 45rem;
      aspect-ratio: 1 / 1.8;
      z-index: 1;
      object-fit: cover;
    }

    .about-text-wrapper {
      width: calc(100% - 17rem);
      padding: 0 8.5rem;
      position: relative;

      &.first {
        height: 29rem;

        p {
          position: absolute;
          display: block;
          font-family: 'didot-italic', 'sans-serif';
          font-size: 1.6rem;
          width: 40%;
          max-width: 60rem;
          z-index: 5;
          line-height: 2.1rem;
          font-weight: 200;
          right: 56%;
          top: 0;
          opacity: 0;
          text-align: justify;
          height: 41rem;
          padding-bottom: 17rem;
          color: rgb(49, 49, 49);
        }
      }

      &.second {
        padding: 6rem 0 8rem;
        width: 100%;

        p {
          position: relative;
          justify-content: flex-end;
          display: block;
          font-family: Montserrat;
          font-size: 0.8rem;
          max-width: 60rem;
          width: 38%;
          line-height: 1.5rem;
          align-self: flex-end;
          text-align: justify;
          left: 56%;
          opacity: 0;
        }
      }
    }
  }

  .more-section-wrapper {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;

    .more-section {
      position: relative;
      display: flex;
      padding-bottom: 8rem;
      max-width: 130rem;

      .image {
        position: relative;
        width: 48%;
        object-fit: cover;
        margin-top: -6rem;
        flex-shrink: 0;
      }

      .more-text-wrapper {
        display: flex;
        flex-direction: column;
        padding: 2.6rem 2.6rem 0rem 2.6rem;
        gap: 2rem;
        max-width: 32rem;

        .quote {
          color: rgb(255, 255, 255);
          font-family: didot-italic;
          font-size: 2rem;
          line-height: 2.7rem;
          opacity: 0;
          text-align: left;
        }

        .description {
          font-family: Montserrat;
          color: rgb(217, 217, 217);
          font-size: 0.9rem;
          line-height: 1.9rem;
          text-align: left;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .about_route {
    .about-page {
      height: 120vh;
      margin-top: 65px;

      #about-video {

        video {
          object-position: 55% 50%;
        }
      }

      .accent {
        position: absolute;
        bottom: 1rem;
        left: 1.25rem;
        max-width: 70%;
        font-size: 0.6rem;
        line-height: 0.8rem;
      }
    }

    .about-client-quote {
      font-size: inherit;
      gap: 1.5rem;
      margin: 8rem 0;

      .about-quote {
        font-size: 1.8rem;
        line-height: 2.5rem;
        max-width: 90%;
      }

      h6 {
        font-size: 0.7rem;
        font-weight: 500;
        letter-spacing: 2px;
      }
    }

    .about-maddie {
      background-color: unset;
      padding: 0;

      .image {
        position: relative;
        height: 75vh;
        width: 100%;
        aspect-ratio: unset;
        top: unset;
        left: unset;
        transform: unset;
        object-fit: cover;
        object-position: 50% 0%;
      }

      .about-text-wrapper {
        padding: 1.5rem 1rem 3rem;
        height: fit-content;
        width: calc(100% - 2rem);

        &.first {
          height: fit-content;

          p {
            position: relative;
            font-size: 1.25rem;
            line-height: 1.75rem;
            height: fit-content;
            padding-bottom: 5rem;
            left: unset;
            right: unset;
            width: 100%;
          }
        }

        &.second {
          padding-bottom: 1.5rem;
          padding: 1.5rem 1rem 3rem;
          height: fit-content;
          width: calc(100% - 2rem);

          p {
            position: relative;
            font-size: 0.8rem;
            line-height: 1.5rem;
            left: unset;
            right: unset;
            width: 100%;
          }
        }
      }
    }

    .more-section-wrapper {
      .more-section {
        flex-direction: column;
        padding-bottom: 0;

        .image {
          width: 100%;
          height: 80vh;
          object-fit: cover;
          margin-top: 0;
        }

        .more-text-wrapper {
          padding: 3rem 1rem;
          align-items: center;

          .quote {
            color: rgb(255, 255, 255);
            font-size: 2rem;
            line-height: 2.75rem;
            opacity: 0;
            margin-bottom: 2.5rem;
            text-align: center;
          }

          .emphasize {
            font-size: 1.45rem;
          }

          .description {
            font-size: 0.8rem;
            line-height: 1.5rem;
            text-align: justify;
          }
        }
      }
    }
  }
}