/*
-------------------------------------------------------------------
---  PACKAGES PAGE
-------------------------------------------------------------------
*/

.packages_route {
  .packages-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    height: 26rem;

    .header {
      font-family: didot, serif;
      font-size: 4.5rem;
      max-width: 70rem;
      text-align: center;
      line-height: 5.5rem;
      opacity: 0;
    }

    .sub-header {
      font-family: Montserrat;
      font-style: regular;
      color: black;
      letter-spacing: 3px;
      font-size: 0.65rem;
      font-weight: 500;
      opacity: 0;
    }
  }

  .packages-body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding-bottom: 5rem;

    .package-wrapper {
      display: flex;
      opacity: 0;

      .package-image {
        width: 49%;

        img {
          aspect-ratio: 1 / 1.5;
          width: 100%;
          object-fit: cover;
          float: right;
        }
      }

      .package-info-wrapper {
        display: flex;
        width: 51%;

        .package-info {
          display: flex;
          flex-direction: column;
          width: 72%;

          .package-info-container {
            display: flex;
            flex-direction: column;

            .package-header {
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid rgb(76, 76, 76);
              padding: 2.8rem 0.5rem 1rem 4.6rem;

              span {
                font-weight: 500;
                font-size: 0.6rem;
                letter-spacing: 4px;
                color: #8c8c8c;
              }
            }

            .align-left {
              padding: 2.8rem 4.6rem 1rem 0.5rem !important;
            }

            .divider {
              height: 0px;
              width: 100%;
              background-color: rgb(101, 101, 101);
            }

            .details {
              display: flex;
              flex-direction: column;
              padding: 1rem 0.5rem 1rem 4.6rem;
              gap: 1.4rem;

              .info-price-wrapper {
                display: flex;
                justify-content: space-between;

                p {
                  width: 60%;
                  font-size: 0.7rem;
                  line-height: 1.1rem;
                  font-family: Montserrat;
                  color: #393939;
                }

                span {
                  font-family: didot-italic;
                  color: #393939;
                }
              }

              .description {
                font-size: 0.7rem;
                line-height: 1.1rem;
                font-weight: 400;
                text-align: justify;
              }

              .includes-text {
                font-size: 0.7rem;
                line-height: 1.1rem;
                letter-spacing: 3px;
                text-decoration: underline;
                margin-bottom: -1rem;
              }

              ul {
                list-style-type: none;
                margin-left: 1.15rem;

                li {
                  font-size: 0.8rem;
                  font-family: 'Montserrat', sans-serif;
                  font-weight: 300;
                  padding-bottom: 0.5rem;

                  &::before {
                    content: '\2013';
                    position: absolute;
                    margin-left: -15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .packages_route {
    .packages-header {
      width: calc(100% - 30px);
      margin: 0;
      padding: 0 15px;
      height: 25rem;
      gap: 1.5rem;

      .header {
        font-size: 2.7rem;
        line-height: 3rem;
        max-width: unset;
        text-align: center;
      }

      .sub-header {
        font-size: 0.45em;
      }
    }

    .packages-body {
      gap: 4rem;
      padding-bottom: 0;

      .package-wrapper {
        display: flex;
        flex-direction: column;
        width: calc(100% - 30px);
        padding: 0 15px;

        .package-image {
          width: 100%;

          .package-image {
            width: 49%;

            img {
              width: 100%;
              object-fit: cover;
              float: unset;
              height: 30rem;
            }
          }
        }

        .package-info-wrapper {
          width: 100%;

          .package-info {
            width: 100%;
            padding: 0 0 5rem;

            .package-info-container {
              display: flex;
              flex-direction: column;

              .package-header {
                padding: 2rem 0.5rem 1rem 0.5rem;
                align-items: flex-end;

                span {
                  font-size: 0.65rem;

                  &:nth-child(2) {
                    display: none;
                  }
                }
              }

              .align-left {
                padding: 2rem 0.5rem 1rem 0.5rem !important;
              }

              .details {
                display: flex;
                flex-direction: column;
                padding: 2rem 0.5rem 1rem 0.5rem;
                gap: 1.4rem;

                .info-price-wrapper {
                  display: flex;
                  justify-content: space-between;

                  p {
                    width: 65%;
                    font-size: 1rem;
                    line-height: 1.3rem;
                  }

                  span {
                    font-size: 1.5rem;
                  }
                }

                .description {
                  font-size: 1rem;
                  line-height: 1.3rem;
                }

                .includes-text {
                  margin-top: 0.5rem;
                }

                ul {
                  list-style-type: none;
                  margin-left: 1.15rem;

                  li {
                    font-size: 0.8rem;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 300;
                    padding-bottom: 0.3rem;

                    &::before {
                      content: '\2013';
                      position: absolute;
                      margin-left: -15px;
                    }
                  }
                }
              }
            }
          }
        }

        &:nth-child(2) {
          flex-direction: column-reverse;
        }
      }
    }
  }
}