.journal_route {
  .section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 65px;

    .journal-header-wrapper {
      display: flex;
      flex-direction: column;
      background-color: white;
      max-width: 120rem;
      width: 100%;

      .journal-images {
        background-color: black;
        height: 65vh;
        min-height: 28rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0;

        .cell {
          height: 100%;
          width: 100%;
        }

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      .journal-header {
        background-color: black;
        position: relative;
        height: 30vh;
        padding-bottom: 15rem;

        .header-text {
          position: absolute;
          top: -3.5rem;
          left: 3rem;
          color: white;
          z-index: 10;

          span {
            font-family: didot-italic;
            font-size: 7rem;

            &:last-child {
              padding-left: 8rem;
            }
          }
        }
      }

      .scroll-accent {
        border-radius: 20rem;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        height: 4rem;
        width: 2rem;
        position: absolute;
        right: 7rem;
        transform: translateX(-50%);
        bottom: 30%;
      }
    }
  }


  .journal-entry-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10rem 0;

    .journal-entry-wrapper {
      max-width: 38rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      align-items: center;
      color: rgb(218, 218, 218);

      .couple-name {
        font-family: 'didot', 'sans-serif';
        font-size: 2rem;
        font-weight: 400;
      }

      .wedding-description {
        font-family: 'Abhaya Libre', 'sans-serif';
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 2rem;
        text-align: justify;

        .first-letter {
          height: 3rem;
          float: left;
          font-family: 'Abhaya Libre', 'sans-serif';
          font-weight: 400;
          font-size: 4.7rem;
          line-height: 4.2rem;
          margin-right: 0.5rem;
        }
      }

      .images {
        display: flex;
        gap: 3rem;

        img {
          width: calc(33% - 2rem);
          aspect-ratio: 1/1.5;
        }
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .journal_route {
    .section {
      .journal-header-wrapper {
        .journal-images {
          grid-template-columns: repeat(4, 1fr) !important;

          .cell:nth-child(5) {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .journal_route {
    .section {
      .journal-header-wrapper {
        .journal-images {
          background-color: black;
          height: 75vh;
          position: relative;
          max-width: 100%;
          display: unset;

          .cell {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            opacity: 0;

            &:nth-child(5) {
              display: unset;
            }

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }

        .journal-header {
          background-color: black;
          position: relative;
          height: unset;
          padding-bottom: 18rem;

          .header-text {
            position: absolute;
            color: white;
            left: 0;
            bottom: 0;
            top: -2rem;
            z-index: 10;
            width: 100%;
            text-align: center;
            height: fit-content;

            span {
              font-family: didot-italic;
              font-size: 3rem;
              line-height: 3.5rem;

              &:last-child {
                padding-left: 0;
              }
            }
          }
        }

        .scroll-accent {
          right: unset;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
        }
      }
    }

    .journal-entry-section {
      padding: 10rem 0 0;

      .journal-entry-wrapper {
        width: calc(100% - 30px);
        padding: 0 15px 5rem;

        .couple-name {
          font-size: 2rem;
        }

        .wedding-description {
          font-size: 1rem;
          line-height: unset;
          font-family: Montserrat;
          text-align: justify;

          .first-letter {
            height: 4rem;
            font-size: 6.6rem;
            line-height: 5.5rem;
          }
        }

        .images {
          gap: 12px;

          img {
            width: calc(33% - 8px);
          }
        }
      }
    }
  }
}