.footer {
    position: relative;
    border-top: 1px solid gray;
    padding: 2rem 5rem;
    background-color: black;


    .logo-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: 6rem;
            margin-left: -1.4rem;
        }

        a {
            color: white;
            cursor: pointer;
        }
    }

    .links-wrapper {
        display: flex;
        gap: 5rem;
        border-bottom: 1px solid rgb(64, 64, 64);
        padding: 6rem 0 1rem 0;

        a {
            font-family: didot;
            font-size: 1.25rem;
            color: white;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: rgb(210, 210, 210);
                text-decoration: underline;
            }
        }
    }

    .copyright-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;

        .copyright {
            display: flex;
            justify-content: space-between;
            z-index: 1;

            .copyright-text {
                display: flex;
                white-space: pre;
                font-size: 0.725rem;
                color: gray;
                line-height: 1rem;
            }
        }

        .back-to-top {
            color: white;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            letter-spacing: 2px;
            cursor: pointer;
            border: none;
            background-color: transparent;

            svg {
                height: 1.25rem;
            }
        }
    }
}