.footer {
    position: relative;
    padding: 4rem 4rem 2rem;
    background-color: #fafafa;
    overflow-x: hidden;

    .logo-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: 4rem;
        }

        a {
            color: rgb(0, 0, 0);
            cursor: pointer;
        }
    }

    .links-wrapper {
        display: flex;
        gap: 5rem;
        border-bottom: 1px solid rgb(0, 0, 0);
        padding: 10rem 0 1rem 0;

        a {
            font-family: didot;
            font-size: 1.25rem;
            color: rgb(0, 0, 0);
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: rgb(0, 0, 0);
                text-decoration: underline;
            }
        }
    }

    .copyright-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;

        .copyright {
            display: flex;
            justify-content: space-between;
            z-index: 1;

            .copyright-text {
                display: flex;
                white-space: pre;
                font-size: 0.725rem;
                color: rgb(0, 0, 0);
                line-height: 1rem;
            }
        }

        .back-to-top {
            color: rgb(0, 0, 0);
            display: flex;
            align-items: center;
            gap: 0.5rem;
            letter-spacing: 2px;
            cursor: pointer;
            border: none;
            background-color: transparent;

            svg {
                height: 1.25rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        padding: 3rem 1rem 2rem;

        .logo-contact {
            display: flex;
            flex-direction: column;
            width: fit-content;
            gap: 2rem;

            img {
                height: 2rem;
            }

            a {
                display: none;
            }
        }

        .links-wrapper {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            border-bottom: 1px solid rgb(0, 0, 0);
            padding: 5rem 0 1rem 0;

            a {
                font-family: didot;
                font-size: 1.25rem;
                color: rgb(0, 0, 0);
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    color: rgb(0, 0, 0);
                    text-decoration: underline;
                }
            }
        }

        .copyright-wrapper {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            margin-top: 3rem;
            gap: 2rem;

            .copyright {
                width: fit-content;
                display: flex;
                justify-content: center;

                .copyright-text {
                    display: flex;
                    flex-direction: column;
                    line-height: unset;
                    text-align: center;
                    font-size: 0.7rem;
                    max-width: 75%;
                    white-space: unset;
                }
            }

            .back-to-top {
                font-size: 0.7rem;
                gap: 0.2rem;

                svg {
                    height: 0.86rem;
                }
            }
        }
    }
}