.footer {
    position: relative;
    padding: 40px 40px 30px;
    background-color: #fafafa;
    overflow-x: hidden;

    .logo-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: 3rem;
        }

        a {
            color: rgb(0, 0, 0);
            cursor: pointer;
        }
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        border-top: 1px solid rgb(0, 0, 0);
        margin: 5rem 0 1rem 0;

        .links-wrapper {
            display: flex;
            gap: 50px;
            padding: 1rem 0 1.5rem;

            a {
                font-family: didot-italic;
                font-size: clamp(0.1rem, 1.4rem, 25px);
                text-decoration: none;
                cursor: pointer;
                color: black;

                &:hover {
                    color: rgb(0, 0, 0);
                    text-decoration: underline;
                }
            }
        }

        .instagram-link {
            font-family: Montserrat;
            font-size: clamp(0.1rem, 0.85rem, 16px);
            color: rgb(0, 0, 0);
            text-decoration: none;
            cursor: pointer;
            width: fit-content;
            letter-spacing: 2px;
            font-weight: 500;

            &:hover {
                color: rgb(0, 0, 0);
                text-decoration: underline;
            }
        }
    }

    .copyright-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;

        .copyright {
            display: flex;
            justify-content: space-between;
            z-index: 1;

            .copyright-text {
                display: flex;
                font-size: clamp(0.1rem, 0.6rem, 12px);
                color: rgb(0, 0, 0);
                line-height: 1rem;
            }
        }

        .back-to-top {
            color: rgb(0, 0, 0);
            display: flex;
            align-items: center;
            gap: 5px;
            letter-spacing: 2px;
            cursor: pointer;
            border: none;
            background-color: transparent;
            font-size: clamp(0.1rem, 0.7rem, 12px);

            svg {
                height: clamp(0.1rem, 1rem, 15px);
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        padding: 60px 15px;

        .logo-contact {
            justify-content: center;

            img {
                height: unset;
                width: calc(100% - 30px);
            }
        }

        .footer-wrapper {
            margin: 2.5rem 0 1rem;
            border-bottom: 1px solid rgb(0, 0, 0);
            padding: 2rem 0 2rem 0;
            gap: 1.75rem;

            .links-wrapper {
                flex-direction: column;
                padding: 0;
                gap: 25px;

                a {
                    font-size: 1.6rem;
                }
            }

            .instagram-link {}
        }

        .copyright-wrapper {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            margin-top: 3rem;
            gap: 2rem;

            .copyright {
                width: fit-content;
                display: flex;
                justify-content: center;

                .copyright-text {
                    display: flex;
                    flex-direction: column;
                    line-height: unset;
                    text-align: center;
                    font-size: 0.7rem;
                    max-width: 75%;
                    white-space: unset;
                }
            }

            .back-to-top {
                font-size: 0.7rem;
                gap: 0.2rem;

                svg {
                    height: 0.86rem;
                }
            }
        }
    }
}