/*
-------------------------------------------------------------------
---  OVERLAY COMPONENT
-------------------------------------------------------------------
*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.391);
  backdrop-filter: blur(2px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  .overlay-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    opacity: 0;
    transform: translateY(30px);
    box-sizing: border-box;
  }

  // Allow for custom content styling while maintaining overlay behavior
  &.thank-you-overlay {
    .overlay-content {
      .thank-you-modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 1.25rem;
        padding: 2.5rem;
        padding-top: 6rem;
        padding-bottom: 4rem;
        width: fit-content;

        .header {
          position: relative;

          span {
            font-family: didot-italic;
            font-size: 2.5rem;
            color: inherit;
          }

          #fireworks {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 8rem;
            top: -6.5rem;
            display: block;
          }
        }

        .body {
          font-family: Montserrat;
          font-size: 0.65rem;
          text-align: center;
          margin-bottom: 8rem;
          width: 17rem;
          line-height: 1rem;
        }

        // .text-button {
        //   display: inline-block;
        //   padding: 0.75rem 1.5rem;
        //   background: #000;
        //   color: white;
        //   text-decoration: none;
        //   border-radius: 4px;
        //   transition: background-color 0.3s ease;

        //   &:hover {
        //     background: #333;
        //   }

        //   &.small {
        //     font-size: 0.9rem;
        //     padding: 0.5rem 1rem;
        //   }
        // }
      }
    }
  }

  // Advertisement overlay styling - customize as needed
  &.ad-overlay {
    .overlay-content {
      width: 50%;
      max-width: 850px;

      .ad-wrapper {
        position: relative;
        background: white;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        width: 100%;
        aspect-ratio: 16 / 12;
        display: flex;

        img {
          width: 45%;
          object-fit: cover;
          display: block;
        }

        .ad-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 5rem 1.5rem 3rem;

          h4 {
            text-align: left;
            font-size: clamp(0px, 2.2vw, 42px);
            margin-bottom: 2px;
          }

          h6 {
            font-size: clamp(0px, 1vw, 16px);
            margin-bottom: 1rem;
            letter-spacing: 4px;
          }

          p {
            font-size: clamp(0px, 0.9vw, 12px);
            line-height: clamp(0px, 1.6vw, 25px);
          }

          a {
            margin-top: 40px;
            width: -webkit-fill-available;
            text-align: center;
          }
        }
      }

      .ad-wrapper-mobile {
        display: none;
        position: relative;
        background: white;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        width: 100%;
        // aspect-ratio: 16 / 12;
        flex-direction: column;
        padding: 1px;

        .ad-header {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 1rem 0;

          h4 {
            text-align: left;
            font-size: clamp(0px, 5vw, 42px);
            margin-bottom: 2px;
            line-height: 2rem;
          }

          h6 {
            font-size: clamp(0px, 3vw, 16px);
            margin-bottom: 1rem;
            letter-spacing: 3px;
            margin-top: -8px;
          }
        }

        .ad-content-wrapper {
          display: flex;
          width: 100%;
          height: 15rem;

          img {
            width: 45%;
            object-fit: cover;
            display: block;
          }

          .ad-content {
            display: flex;
            flex-direction: column;
            padding: 0 1rem;

            p {
              font-size: clamp(0px, 2.6vw, 12px);
              line-height: clamp(0px, 4vw, 25px);
            }

            br {
              line-height: 10px;
            }
          }
        }

        .action-wrapper {
          box-sizing: border-box;
          padding: 2rem 1rem;
          width: 100%;

          a {
            box-sizing: border-box;
            width: -webkit-fill-available;
            text-align: center;
            display: block;
            width: 100%;
          }
        }
      }

      .close-modal {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: none;
        border: none;
        cursor: pointer;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;

        &:hover {
          background-color: rgb(240, 240, 240);
        }
      }
    }

    @media (max-width: 768px) {
      .overlay-content {
        width: 85%;
        max-width: 500px;

        .ad-wrapper {
          display: none;
        }

        .ad-wrapper-mobile {
          display: flex;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .overlay-content {
      width: 80%;
    }

    &.thank-you-overlay {
      .overlay-content {
        .thank-you-modal {
          width: calc(90% - 5rem);
          margin: 1rem;

          .header {
            span {
              font-size: 2rem;
              text-wrap: nowrap;
            }

            #fireworks {
              width: 100%;
              height: 6rem;
              top: -5rem;
            }
          }

          .body {
            font-size: 0.6rem;
            width: 90%;
            margin-bottom: 6rem;
          }
        }
      }
    }
  }
}
