/*
-------------------------------------------------------------------
---  TESTIMONY PAGE
-------------------------------------------------------------------
*/

.testimonies_route {
  .testimonies-page {
    height: calc(100% - 65px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 65px;

    .image-wrapper {
      position: relative;
      height: 80vh;
      width: 88%;

      .focused-image {
        width: 100%;
        height: 100%;
        transform: translateY(80px);
        opacity: 0;
        object-fit: cover;
      }

      .header {
        font-family: didot-italic;
        font-size: 5rem;
        max-width: 70rem;
        text-align: center;
        z-index: 1;
        color: white;
      }

      .top-left {
        position: absolute;
        top: 0.75rem;
        left: 1rem;
        transform: translateY(80px);
        opacity: 0;
      }

      .bottom-right {
        position: absolute;
        bottom: 0.75rem;
        right: 1rem;
        transform: translateY(80px);
        opacity: 0;
      }
    }
  }

  .testimony {
    margin-top: 20rem;

    .testimony-wrapper {
      display: flex;
      height: 205vh;
      width: 100%;

      .client-images {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 55%;
        height: 100%;
        flex-shrink: 0;

        .image-wrapper {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100vh;

          img {
            width: 60%;
            object-fit: cover;
            height: 50vw;
            max-height: 75vh;
          }
        }
      }

      .client-testimony-wrapper {
        height: fit-content;
        position: sticky;
        top: 0;
        height: 100vh;
        display: flex;
        align-items: center;

        .client-testimony {
          display: flex;
          position: relative;
          flex-direction: column;
          gap: 2vw;
          padding: 2rem;
          z-index: 5;
          width: 85%;

          .client-text {
            font-family: didot;
            font-style: regular;
            color: black;
            letter-spacing: 2px;
            font-size: 1.75rem;
          }

          .testimony-quote {
            font-family: 'Montserrat', 'sans-serif';
            font-style: regular;
            color: #393939;
            font-size: 0.8rem;
            line-height: 1.4rem;
            font-weight: 400;
            text-align: justify;
          }

          .client-name {
            font-family: 'Abhaya Libre', 'sans-serif';
            font-style: regular;
            color: black;
            letter-spacing: 2px;
            font-size: clamp(0.7rem, 1.25vw, 1rem);
            z-index: 5;
            // padding-left: 1rem;
          }
        }

        &.middle {
          justify-content: flex-end;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .testimonies_route {
    .testimonies-page {
      height: unset;

      .image-wrapper {
        position: relative;
        height: 80vh;
        width: 100%;

        .focused-image {
          object-fit: cover;
          object-position: 65% 50%;
        }

        .header {
          font-size: 2.5rem;
          white-space: nowrap;
        }

        .top-left {
          position: absolute;
          bottom: 5rem;
          top: unset;
          left: 0;
          width: 100%;
          text-align: center;
        }

        .bottom-right {
          position: absolute;
          bottom: 2rem;
          left: 0;
          width: 100%;
          text-align: center;
        }
      }
    }

    .testimony {
      margin-top: 8rem;

      .testimony-wrapper {
        flex-direction: column;
        height: fit-content;
        gap: 2rem;
        padding: 0 15px;
        width: calc(100% - 30px);

        .client-images {
          height: 32rem;
          width: calc(100% - 2rem);
          margin: 1rem;

          .image-wrapper {
            position: unset;
            display: unset;
            height: fit-content;

            img {
              height: 25rem;
              max-width: 75%;
              width: fit-content;
            }

            &:nth-child(2) {
              img {
                position: absolute;
                right: 0;
                bottom: 0;
                height: 15rem;
                width: fit-content;
                z-index: 5;
                max-width: 70%;
              }
            }
          }
        }

        .client-testimony-wrapper {
          position: relative;
          height: fit-content;
          justify-content: center;
          width: 100%;

          .client-testimony {
            padding: unset;
            z-index: 5;
            align-items: center;
            width: 100%;
            gap: 1rem;

            .client-text {
              font-family: didot;
              font-style: regular;
              color: black;
              letter-spacing: 2px;
              font-size: 1.3rem;
            }

            .testimony-quote {
              font-family: 'Montserrat', 'sans-serif';
              font-weight: 400;
              font-size: 0.7rem;
              padding-left: 0;
              text-align: justify;
            }

            .client-name {
              font-family: 'Montserrat', 'sans-serif';
              font-weight: 400;
              font-size: 0.7rem;
            }
          }
        }

        .middle {
          justify-content: center;
        }
      }

      .middle {
        flex-direction: column-reverse;
      }

      &:last-of-type {
        padding-bottom: 7rem;
      }
    }
  }
}