/*
-------------------------------------------------------------------
---  HEADER STYLES
-------------------------------------------------------------------
*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  transition: top 0.25s ease-in-out;
  height: 70px;
  background-color: white;

  @supports (-webkit-touch-callout: none) {
    /* Safari 10+ */
    nav {
      padding: 5rem 2rem 0 16px;
      /* Adjust the padding as needed */
    }
  }

  nav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    transition: background-color 175ms ease-in-out;
    padding: 0rem 2rem 0 16px;

    #maddie-text {
      font-style: regular;
      font-size: 0.875rem;
      letter-spacing: 5px;
      font-weight: 400;
      text-decoration: none;
      color: inherit;
    }

    #nav-icon {
      display: flex;
      background: transparent;
      align-items: center;
      justify-content: center;
      border-radius: 0.3rem;
      border: none;
      cursor: pointer;
      z-index: 750;
      color: black;

      .line {
        transition: y 150ms ease-in 150ms, transform 150ms ease-in, opacity 0ms 150ms;
        transform-origin: center;
      }

      &[aria-expanded="true"] .line {
        transition: y 150ms ease-in, transform 150ms ease-in 150ms, opacity 0ms 150ms;
      }

      &[aria-expanded="true"] :is(.top, .bottom) {
        y: 48px;
      }

      &[aria-expanded="true"] .top {
        transform: rotate(45deg);
      }

      &[aria-expanded="true"] .bottom {
        transform: rotate(-45deg);
      }
    }
  }
}

.mobile-menu-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #faf8f8;
  z-index: 600;
  opacity: 0;
  display: none;
  top: 0;
  display: flex;
  justify-content: center;
  // transition: opacity 0.5s ease, top 0.5s ease;

  .mobile-menu {
    height: calc(100% - 3rem);
    max-width: 50rem;
    position: relative;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    display: flex;

    #close-icon {
      position: absolute;
      right: 1rem;
      top: 1rem;
      border: none;
      background-color: unset;
    }

    img {
      object-fit: cover;
      height: 30rem;
      margin-top: 2.5rem;
    }

    #link-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      #link {
        font-family: "didtot-italic";
        font-style: italic;
        font-size: 2.5rem;
        line-height: 2.4rem;
        font-weight: 300;
        text-decoration: none;
        color: black;
      }

      .small-links {
        display: flex;
        gap: 1rem;

        a {
          font-size: 0.7rem;
          letter-spacing: 2px;
          font-weight: 500;
          margin-top: 0.5rem;
          margin-bottom: 2rem;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

.hide {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobile-menu-wrapper {
    .mobile-menu {
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: flex-start;

      #close-icon {
        position: absolute;
        right: 1rem;
        top: 1rem;
        border: none;
        background-color: unset;
      }

      img {
        height: 33%;
        width: 50%;
        margin-top: unset;
      }

      #link-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        #link {
          font-family: "Cormorant Garamond";
          font-style: italic;
          font-size: 1.85rem;
          line-height: 2.4rem;
          font-weight: 300;
          text-decoration: none;
          color: black;
        }

        #instagram {
          font-size: 0.7rem;
          letter-spacing: 2px;
          font-weight: 500;
          margin-top: 0.5rem;
          margin-bottom: 2rem;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
