* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-style: regular;
  font-size: 1.25vw;
  line-height: 1.15;
}

/*
    font-size: clamp(0.1rem, 1.25vw, 1rem);
*/

@media only screen and (max-width: 768px) {
  * {
    font-size: 4.266666666667vw;
    line-height: 1.65;
  }
}

body {
  overflow-x: hidden;
  background-color: #fafafa;
}

/*
-------------------------------------------------------------------
---  FORMATTING SHARED STYLES
-------------------------------------------------------------------
*/

@font-face {
  font-family: "didot";
  src: url("/fonts/didot-regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "didot";
  src: url("/fonts/didot-bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "didot-italic";
  src: url("/fonts/didot-italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

h1 {
  font-size: 4.5rem;
  max-width: 90rem;
  font-family: didot-italic;
  text-align: center;
  font-weight: 300;
}

h2 {
  font-size: 3.5rem;
  font-family: didot-italic;
  text-align: center;
  font-weight: 200;
  line-height: 4.4rem;
}

h3 {
  font-size: 1.8rem;
  max-width: 38rem;
  letter-spacing: 3px;
  font-family: didot-italic;
  text-align: center;
}

h4 {
  font-size: 1.3rem;
  max-width: 38rem;
  letter-spacing: 3px;
  font-family: didot-italic;
  text-align: center;
}

h5 {
  font-size: 1.2rem;
  font-family: "Montserrat", "serif";
  letter-spacing: 3px;
  color: #868686;
  font-weight: 300;
}

h6 {
  font-family: "Montserrat", "serif";
  font-style: regular;
  color: #393939;
  letter-spacing: 6px;
  font-size: 0.75rem;
  font-weight: 400;

  &.small {
    color: black;
    letter-spacing: 5px;
    font-size: 0.8rem;
    font-weight: 400;
  }
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.quote {
  position: relative;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
  color: black;
  max-width: fit-content;
  text-align: center;
}

.emphasize {
  font-family: didot-italic;
  color: black;
  font-weight: 400;
}

.description {
  font-family: "Montserrat", "sans-serif";
  font-style: regular;
  color: #393939;
  font-size: 1.1rem;
  text-align: center;

  &.centered {
    max-width: 52%;
  }

  &.justify {
    max-width: 37rem !important;
    line-height: 1.75rem;
    font-size: 0.9rem;
    text-align: justify;
  }

  &.light {
    color: rgb(105, 105, 105);
    line-height: 1.4rem;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
    max-width: 80rem;
    font-family: didot-italic;
    text-align: center;
  }

  h2 {
    font-size: 1.8rem;
    max-width: 38rem;
    font-family: didot-italic;
    text-align: center;
  }

  h4 {
    font-size: 1.67rem;
  }

  h3 {
    font-size: 1.65rem;
  }

  h6 {
    font-size: 0.6rem;
    letter-spacing: 0.25rem;
    font-weight: 500;

    &.small {
      font-size: 0.65rem;
      letter-spacing: 0.3rem;
    }
  }

  .description {
    font-size: 0.8rem;
    line-height: inherit;
    font-weight: 400;

    &.justify {
      font-size: 0.8rem;
      line-height: 1.25rem;
    }
  }
}

/*
-------------------------------------------------------------------
---  PRIMARY BUTTONS
-------------------------------------------------------------------
*/
.primary-button {
  font-family: Montserrat;
  text-decoration: none;
  color: white;
  transition: background-color 0.4s ease;
  letter-spacing: 2px;
  border: none;
  width: fit-content;
  cursor: pointer;

  &.small {
    padding: 0.6rem 2rem;
    font-size: 0.675rem;
  }

  &.medium {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.1rem, 0.7rem, 12px);
    width: 10rem;
    height: 2.5rem;
    max-height: 45px;
    max-width: 150px;
    padding: 0 18px;
  }

  &.large {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.1rem, 0.85rem, 18px);
    height: 3.5rem;
    max-height: 60px;
    padding: 0 30px;
  }

  &.active {
    background-color: rgb(240, 240, 240);
    pointer-events: none;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.light {
    background-color: black;
    color: #bababa;
    border: none;

    &:hover {
      background-color: rgb(240, 240, 240);
      color: black;
    }
  }

  &.dark {
    background-color: white;
    color: black;
    border: none;

    &:hover {
      background-color: rgb(29, 29, 29);
      color: rgb(255, 255, 255);
    }
  }
}

.text-button {
  font-weight: 600;
  font-size: 0.7rem;
  color: black;
  text-decoration: underline;
  letter-spacing: 7px;
  cursor: pointer;

  &:hover {
    color: rgb(107, 107, 107);
  }

  &.small {
    font-size: 0.6rem;
    letter-spacing: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .text-button {
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
  }
}

.page-loader-wrapper {
  position: absolute;
  width: 10rem;
  height: 1px;
  top: 54%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(41, 41, 41);
  overflow: hidden;

  .page-loader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(200, 200, 200);
    animation: loading 3s ease-in-out infinite;
  }
}

@media only screen and (max-width: 768px) {
  .page-loader-wrapper {
    width: 6rem;
    top: 55%;
  }
}

@keyframes loading {
  0% {
    left: -100%;
  }

  50% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}
