header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    transition: top 0.25s ease-in-out;
    height: 65px;

    nav {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
        transition: background-color 175ms ease-in-out;

        #maddie-text {
            font-style: regular;
            font-size: clamp(0.1rem, 0.9rem, 16px);
            letter-spacing: 5px;
            font-weight: 400;
            text-decoration: none;
            color: inherit;

            &:hover {
                color: rgb(0, 0, 0);
                text-decoration: underline;
            }
        }

        #nav-options {
            display: flex;
            align-items: center;
            gap: 21px;
            color: inherit;

            .nav-link {
                text-decoration: none;
                font-family: Montserrat;
                letter-spacing: 2px;
                font-style: regular;
                font-weight: 400;
                font-size: clamp(0.1rem, 0.7rem, 12px);
                color: inherit;
                padding: 0.25rem 0.3rem;

                &:hover {
                    color: rgb(0, 0, 0);
                    text-decoration: underline;
                }
            }

            a:last-child {
                margin-left: 15px;
            }
        }

        #nav-icon {
            display: none;
            border: none;
            background-color: unset;
        }

        .more-btn {
            display: inline-block;
            background: transparent;
            border-radius: 0.3rem;
            border: none;
            cursor: pointer;
            z-index: 750;

            .line {
                transition: y 150ms ease-in 150ms, transform 150ms ease-in, opacity 0ms 150ms;
                transform-origin: center;
            }

            &[aria-expanded="true"] .line {
                transition: y 150ms ease-in, transform 150ms ease-in 150ms, opacity 0ms 150ms;
            }

            &[aria-expanded="true"] :is(.top, .bottom) {
                y: 48px;
            }

            &[aria-expanded="true"] .top {
                transform: rotate(45deg);
            }

            &[aria-expanded="true"] .bottom {
                transform: rotate(-45deg);
            }
        }
    }

    .transparent {
        background-color: transparent;
        color: #f6f6f6;
        border-bottom: none;

        #nav-icon {
            color: black;
        }
    }

    .light {
        background-color: #f6f6f6;
        color: black;
        border-bottom: 1px solid #f1f1f1;

        #nav-icon {
            color: black;
        }
    }

    .dark {
        background-color: rgb(0 0 0 / 48%);
        color: rgb(255, 255, 255);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-bottom: 1px solid rgb(15, 15, 15);

        #nav-icon {
            color: white;
        }
    }
}

.mobile-menu-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #faf8f8;
    z-index: 600;
    top: -10vh;
    opacity: 0;
    display: none;

    // display: flex;
    // top: 0;
    // opacity: 1;
    transition: opacity 0.5s ease, top 0.5s ease;

    .mobile-menu {
        height: calc(100% - 3rem);
        width: calc(100% - 3rem);
        position: relative;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;

        #close-icon {
            position: absolute;
            right: 1rem;
            top: 1rem;
            border: none;
            background-color: unset;
        }

        img {
            object-fit: cover;
            margin-bottom: 1rem;
            height: 35%;
            width: 50%;
            margin-top: 2.5rem;
        }

        #link-wrapper {
            display: flex;
            flex-direction: column;
            gap: 0;

            #link {
                font-family: 'Cormorant Garamond';
                font-style: italic;
                font-size: 1.85rem;
                line-height: 2.4rem;
                font-weight: 300;
                text-decoration: none;
                color: black;
            }

            #instagram {
                font-size: 0.7rem;
                letter-spacing: 2px;
                font-weight: 500;
                margin-top: 0.5rem;
                margin-bottom: 2rem;
                text-decoration: none;
                color: black;
                ;
            }
        }
    }
}

.hide {
    display: none;
}

@media only screen and (max-width: 768px) {
    header {
        height: 65px;


        @supports (-webkit-touch-callout: none) {

            /* Safari 10+ */
            nav {
                padding: 5rem 2rem 0 16px;
                /* Adjust the padding as needed */
            }
        }

        nav {
            padding: 0rem 2rem 0 16px;

            #maddie-text {
                font-size: 0.875rem;
            }

            #nav-options {
                display: none;
            }

            #nav-icon {
                display: unset;
            }
        }

        .transparent {
            background-color: #fafafa;
            color: black;
            border-bottom: none;

            #nav-icon {
                color: black;
            }
        }

        .light {
            background-color: #fafafa;
            color: black;
            border-bottom: 1px solid #f1f1f1;

            #nav-icon {
                color: black;
            }
        }

        .dark {
            background-color: rgb(0 0 0 / 48%);
            color: rgb(255, 255, 255);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-bottom: 1px solid rgb(15, 15, 15);

            #nav-icon {
                color: white;
            }
        }
    }
}

//background-color: rgb(240, 240, 240);