header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.25s ease-in-out;
    height: 65px;

    nav {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;

        #maddie-text {
            font-family: Montserrat;
            font-style: regular;
            font-size: 1.1rem;
            letter-spacing: 2px;
            font-weight: 400;
            text-decoration: none;
            color: inherit;
        }

        #nav-options {
            display: flex;
            align-items: center;
            gap: 2rem;
            color: inherit;

            .nav-link {
                text-decoration: none;
                font-family: Montserrat;
                font-style: regular;
                font-size: 0.8rem;
                color: inherit;
            }

            a:last-child {
                margin-left: 1rem;
            }
        }

        #nav-icon {
            display: none;
            border: none;
            background-color: unset;
        }
    }

    .light {
        background-color: white;
        color: black;
        border-bottom: 1px solid #f2f2f2;

        #nav-icon {
            color: black;
        }
    }

    .dark {
        background-color: rgb(0 0 0 / 48%);
        color: rgb(255, 255, 255);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-bottom: 1px solid rgb(15, 15, 15);

        #nav-icon {
            color: white;
        }
    }
}

.mobile-menu-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 1002;
    top: -20vh;
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease, top 0.5s ease;

    .mobile-menu {
        height: calc(100% - 3rem);
        width: calc(100% - 3rem);
        position: relative;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        #close-icon {
            position: absolute;
            right: 1rem;
            top: 1rem;
            border: none;
            background-color: unset;
        }

        img {
            width: 45%;
            aspect-ratio: 1/1.5;
            margin-bottom: 2rem;
        }

        #link-wrapper {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            #link {
                font-family: didot-italic;
                font-weight: 300;
                font-style: italic;
                font-size: 2.5rem;
                text-decoration: none;
                color: black;
            }

            #instagram {
                font-family: 'Montserrat', 'sans-serif';
                font-size: 0.9rem;
                letter-spacing: 2px;
                font-weight: 500;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.hide {
    display: none;
}

@media only screen and (max-width: 768px) {
    header {
        height: 70px;

        nav {
            padding: 0 0.75rem;

            #maddie-text {
                font-size: 0.8rem;
            }

            #nav-options {
                display: none;
            }

            #nav-icon {
                display: unset;
            }
        }
    }
}